<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>記帳本</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/list.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 text-start">
                <h1><i class="fas fa-piggy-bank"></i> 記帳本</h1>
            </div>
            <div class="col-md-6 text-end">
                <a id="logout" class="btn btn-danger" href="/logout" role="button">退出</a>
                <a class="btn btn-primary" href="/account/create" role="button">添加帳單</a>
            </div>
        </div>
        
        <div class="row row-cols-5">
            <table class="table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">日期</th>
                        <th scope="col">事項</th>
                        <th scope="col">類型</th>
                        <th scope="col">金額</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% accounts.forEach(item => { %>
                        <tr>
                            <td><%= moment(item.time).format("YYYY-MM-DD") %></td>
                            <td><%= item.title %></td>
                            <td><%= item.type=== -1 ? "支出" : "收入" %></td>
                            <td><%= item.account %> 元</td>
                            <td>
                                <a class="delbtn" href="/account/<%= item._id %>">刪除</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script>
        // 獲取 class = delbtn
        let delbtn = document.querySelectorAll('.delbtn');

        // 綁定事件
        delbtn.forEach(item => {
            item.addEventListener('click', function(e) {
                if (!confirm('你確定要刪除嗎?')) {
                    e.preventDefault();
                }
            });
        })

        // 獲取退出按鈕元素
        let logoutButton = document.getElementById('logout');

        // 綁定事件
        logoutButton.addEventListener('click', function(e) {
            if (!confirm('你確定要退出嗎?')) {
                e.preventDefault();
            }
        });

    </script>
</body>
</html>
